@charset "utf-8";
/*  ==================
     box-sizing reset
    ==================
*/
    html {
    box-sizing: border-box;
    }
    *, *::before, *::after {
    box-sizing: inherit;
    }
/* end of box-sizing reset */

:root {
    --primary-color: #23252C;
    --secondary-color: #F5F5F5;
    --text-color: #4A4E74;
}


body{
    margin: 2.75em 0;
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color);
}

#root{
    width: 317px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

/*  ================
     Layout Section
    ================
*/

header{
    text-align: center;
}

.header > img,
.role,
.website-link {
    display: block;
}

.button-container,
.btn,
footer {
    display: flex;
}


/* end of Layout Section reset */

/*  ================
     Header Section
    ================
*/

header > img {
    width: 100%;
}

header > h1 {
    color: #2B283A;
    font-size: 1.5625rem; /* 25px */
    margin: 0.8em 0 0.276em; /* 20px / 25px  */
    
}

header > .role {
    color: #F47D27;
    font-size: 0.8rem; /* 12.8px */
}

header > .website-link {
    cursor: pointer;
    color: var(--text-color);
    font-size: 0.64rem; /* 10.24px */
    margin: 0.860em 0 1.660em;
}

/* Button Style */

.button-container{
    justify-content: center;
    gap: 1.063em;
}

.btn {
    align-items: center;
    justify-content: center;
    width: 115px;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    padding: 0.643em 1.893em;
    border-radius: 6px;
    gap: 0.571em;
}

.btn img {
    width: 17px;
}

.btn-light{
    
    border: 1px solid #D1D5DB;
    color: #374151;
    background-color: white;
}

.btn-dark{
    color: white;
    background-color: #297FE5;
}

/* end of Header Section reset */

.about,
.interests{
    margin: 0 auto;
    width: 247px;
    line-height: 1.5;
}

.interests{
    margin-bottom: 2.188em;
}

.about h2,
.interests h2{
    font-size: 1rem; 
    margin: 1.563em 0 0.313em;
    color: var(--primary-color);
}

.about p,
.interests p{
    font-size: 0.64rem; /* 10.24px */
    margin: 0;
    color: var(--text-color);
}






/*  ================
     Footer Section
    ================
*/

footer{
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 64px;
    background-color: #D5D4D8;
}

footer > a img {
    width: 25px;
}

/* end of Header Section reset */
